<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="bg-gray-200">

        <boxes-component class="h-screen flex flex-col justify-center items-center" v-show="currentComponent == 'box'" v-model="boxes" @next="next"></boxes-component>
        <jam-component class="h-screen flex flex-col justify-center items-center" v-show="currentComponent == 'jam'" v-model="jams" @next="next"></jam-component>
        <result-component class="h-screen flex flex-col justify-center items-center" v-if="currentComponent == 'result'" :jams="jams" :boxes="boxes"></result-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="./assets/js/box-component.js"></script>
    <script src="./assets/js/jam-component.js"></script>
    <script src="./assets/js/result-component.js"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>